<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="content" content="{{ _('Libros, libros') }}">
        <meta name="author" content="{{ _('Clara Harguindey x Archivo Orsini') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Biblioteca Orsini</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" >
        <link rel="stylesheet" type="text/css" href="/static/css/aside.css">
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        {% block extra_css %}
        {% endblock %}

    </head>

    <body>
        {% include "header.html" %}
        {% block content %}
        {% endblock %}
    </body>
    {% block extra_js %}
    {% endblock %}
</html>
