{% extends "central.html" %}
{% block content%}


<div class="book-container">
    <div class="title">{{ title }}</div>
    <img class="book-image" src={{ url_for('get_book_cover', path=book.cover) }} alt="{{ _('Book cover') }}">


    <div class="column">
        {% for formato, path in book.format.items() %}
        <a href={{url_for('get_book_download', path=path)}}>
            <span class="download-button">{{ formato|upper}}</span>
        </a>
        {% endfor %}
        <br><br>
        {% if book.tags%}
        {% for tag in book.tags %}
        <a href={{ url_for('tag_view', tag_name=tag) }}>
            <span class="tag is-danger {{tag}}">{{ tag|capitalize }}</span>
        </a>
        {% endfor %}
        {% endif %}
        <br><br>
        <table class="table">
            <tbody>
                <tr>
                    <td> {{ _('Título') }}:{{ book.title|capitalize }}</td>

                </tr>
                <tr>
                    <td> {{ _('Autor:') }}
                        {% for author in book.authors %}
                        <a href={{ url_for('author_view', author_name=author ) }}>
                            {{ author}}
                        </a>
                        {% endfor %}
                    </td>
                    <td>

                        {% if book.series%}
                        {{ _('Colección:') }}
                        {% for serie in book.series%}
                        <a href={{ url_for('collection_view', serie_name=serie) }}>
                            <span class="tag {{serie}}">{{ serie|capitalize }}</span>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td> {{ _('Año: ') }}{{ book.publication_date}}</td>
                </tr>
                {% if book.sinopsis %}
                <tr>
                    <td>
                        {{ book.sinopsis|safe}}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}