{% extends "central.html" %}
{% block listado %}

{% macro genera_lista(entries) %}
<!-- Se recibe un dict con item: <letter, elements> -->
{% set colores = ['red', 'green', 'blue', 'orange', 'purple', 'yellow', 'teal', 'pink'] %}
{% set color_index = 0 %}

<div class="tags-list" style="display: flex; flex-wrap: wrap; gap: 10px;">
    {% for key, value in entries|dictsort %}
        {% for element in value %}
        <div class="tag-item" style="background-color: {{ colores[color_index % colores|length] }}; padding: 10px; border-radius: 5px; color: white;">
            <a href="{{ element.url }}" title="{{ element.element | capitalize }}" style="color: white; text-decoration: none;">
                {{ element.element|truncate(50, True)|capitalize }}
            </a>
        </div>
        {% set color_index = color_index + 1 %}
        {% endfor %}
    {% endfor %}
</div>
{% endmacro %}

<div class="columns">
    {% include "sidebar.html" %}
    <!-- A la derecha del sidebar -->
    <div class="column is-10 content">
        <div class="title">{{ title|capitalize }}</div>
        <div class="columns is-multiline files">
            {{ genera_lista(entries) }}
        </div>
    </div>
</div>

{% endblock %}
