{% extends "central.html" %}
{% block listado %}

{% macro genera_item_book(title, author, ruta_cover, tag, publication_date) %}
<a class="entrada" href="{{ url_for('book_view', book_name=urlencode(title)) }}">
    <div class="portada">
        <img src="{{ url_for('get_book_cover', path=ruta_cover) }}" alt="{{ _('Book cover') }}">
    </div>
    <div class="info">
        <div class="book-title">
            <p>Título</p>
            <p>{{ title }}</p>
        </div>
        <div class="book-author">
            <p>Autor</p>
            <p>{{ author }}</p>
        </div>
        <div class="date">
            <p>{{publication_date}}</p>
            <p>{{ author }}</p>
        </div>
    </div>
</a>
{% endmacro %}

{% macro genera_columnas(books) %}
{% for book in books %}
<div class="book-column">
    {{ genera_item_book(book.title, book.author, book.cover, book.tag) }}
</div>
{% endfor %}
{% endmacro %}

<div class="wrapper">
    <a class="button" href="{{ url_for("all_the_books_view") }}"">Volver</a>
    <div class="tags-list">
        <span class="list-tag {{ title }}">{{ title|capitalize }}</span>
    </div>
    <div class="content column">
        <div class="core">
            {{ genera_columnas(books) }}
        </div>
    </div>
</div>

{% endblock %}