.navbar {
    width: 100%;
    padding: 8px 16px;
    background-color: white;
}

.navbar-item {
    font-family: "Sans";
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.wrapper {
    padding: 16px;
}

.button {
    margin-bottom: 8px;
    color: #a4a4a4;
}

.button:hover {
    color: black;
}

.core {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 16px;
    padding-bottom: 80px;
    width: 100%;
    align-content: start;
}

.entrada {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.portada {
    width: 100%;
    display: flex;
}

.portada img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    filter: grayscale(1);
    transition: filter 0.5s ease;
}

.entrada:hover .portada img {
    filter: grayscale(0);
    border-radius: 2px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.book-title,
.book-author,
.book-date {
    padding: 4px;
    text-decoration: none;
    background-color: white;
    font-size: 12px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.book-tags {
    flex-wrap: wrap;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    min-height: 24px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}
.tags-list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    gap: 10px;
}

.list-tag {
    background: white;
    padding: 4px 8px;
    margin: 0px;
    border-radius: 100px;
    margin-bottom: 1px;
}

.tag,
.download-button {
    background: #cf3d35;
    color: black;
    padding: 4px 8px;
    margin: 0px;
    border-radius: 100px;
    margin-bottom: 1px;
}
.download-button {
    background: black;
    color: white;
}
.book-container {
    margin: 16px;
    min-height: 75%;
}
.book-image {
    max-width: 200px;
    margin-top: 16px;
    margin-bottom: 12px;
}
footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    text-align: center;
}
footer p {
    font-size: 5vw;
    line-height: 1;
    color: #a4a4a4;
    margin-top: 8px;
}
footer a {
    color: black;
    margin: 0px 4px;
    transition: 0.2s;
}

tbody {
    background-color: white;
}

tr {
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
    padding: 4px;
}

.list-tag.Arquitectura {
    color: #CF3D35;
    background: white;
    font-size: 16px;
}

.list-tag.Arquitectura:hover {
    color: #CF3D35;
    background: white;
    font-size: 16px;
}

.list-tag.Arte {
    color: #99BEC8;
    background: white;
    font-size: 16px;
}

.list-tag.Arte:hover {
    color: #99BEC8;
    background: white;
    font-size: 16px;
}

.list-tag.Capitalismo {
    color: #EB7A42;
    background: white;
    font-size: 16px;
}

.list-tag.Capitalismo:hover {
    color: #EB7A42;
    background: white;
    font-size: 16px;
}

.list-tag.Robo {
    color: #6F8B4E;
    background: white;
    font-size: 16px;
}

.list-tag.Robo:hover {
    color: #6F8B4E;
    background: white;
    font-size: 16px;
}

.list-tag.Ensayo {
    color: #A4A4A4;
    background: white;
    font-size: 16px;
    border-radius: 0;
}

.list-tag.Ensayo:hover {
    color: #A4A4A4;
    background: white;
    font-size: 16px;
    border-radius: 0;
}

.list-tag.Narrativa {
    color: #A4A4A4;
    background: white;
    font-size: 16px;
    border-radius: 0;
}

.list-tag.Narrativa:hover {
    color: #A4A4A4;
    background: white;
    font-size: 16px;
    border-radius: 0;
}

.list-tag.Anarquismo {
    color: black;
    background: white;
    font-size: 16px;
    border-radius: 0;
}

.list-tag.Anarquismo:hover {
    color: white;
    background: black;
    font-size: 16px;
    border-radius: 0;
}

.tag.Arquitectura {
    background: #CF3D35;
    color: black;
}

.tag.Anarquismo {
    background: black;
    color: white;
}

.tag.Arte {
    background: #99BEC8;
    color: black;
}

.tag.Capitalismo {
    background: #EB7A42;
    color: black;
}

.tag.Robo {
    background: #6F8B4E;
    color: black;
}

@media (max-width: 768px) {
    .core {
        grid-template-columns: 1fr;
    }
    .tags-list {
        width: 100%;
    }
}
